{#
 # Initialization
 #}
static constexpr {{ internal_type }} layer_{{ layer_id }}_{{ name }}[{{ shape|join('][') }}]{% if align > 1 %} __attribute__((aligned({{ align }}))){% endif %} = {{ value|replace('[', '{')|replace(']', '}') }};
